* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
}
body {
  font: $body1;
  position: relative;
  background-color: $bgColorPrimary;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1024px;

  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
