header {
  width: 100%;
  height: 60px;
  position: fixed;
  background: $bgColorSecondary;
  display: flex;
  align-items: center;
  z-index: 10;
  .brandContainer {
    width: 50%;
    img {
      height: 100%;
    }
  }
  .menuContainer {
    width: 50%;
    text-align: end;

    .menuButton {
      padding-right: 10px;
      background-color: transparent;
      border: 0;
      outline: none;
    }
    .menuContent {
      position: relative;
      width: 50vw;

      .menu {
        width: 100%;
        list-style: none;
        position: absolute;
        top: 17px;
        right: -768px;
        height: 100vh;
        background-color: $bgColorSecondary;
        transition: right 0.3s ease-in-out;
        .menuItem {
          padding: 20px;

          a {
            color: $fontColorSecondary;
          }
        }
      }
      .show {
        right: 0px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    .brandContainer {
      width: 25%;
    }
    .menuContainer {
      width: 75%;
      .menuButton {
        display: none;
      }
      .menuContent {
        position: relative;
        width: 100%;
        .menu {
          width: 100%;
          justify-content: end;
          position: static;
          height: 60px;
          display: flex;

          align-items: center;
        }
      }
    }
  }
}
