.aboutContainer {
  @include paddingSection;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .aboutDescription {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .aboutCard {
    padding: 20px;
    background: $bgColorSecondary;
    height: 100%;
    align-self: center;
    .cardContent {
      background-color: $bgColorQuinary;
      padding: 20px;
      color: $fontColorSecondary;

      ul {
        padding-left: 25px;
        li {
          font: $headLine5;
          margin: 20px 0;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .aboutContainer {
    padding: 40px 60px;
    flex-direction: row;
    .aboutDescription,
    .aboutCard {
      width: 50%;
    }
  }
}
