.teamContainer {
  .directorioContainer,
  .managementContainer {
    padding: 10px 20px;

    h3 {
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }

  .swiper-container {
    width: 100%;
    .swiper-wrapper {
      margin-bottom: 40px;
      .swiper-slide {
        width: 100%;
        margin-right: 20px;
        padding: 20px;
        font-size: 18px;
        background: $bgColorPrimary;
        border-bottom: solid $bgColorTertiary 5px;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin-bottom: 10px;
        }
        h4 {
          font: $body2;
        }
        p {
          font: $caption;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  left: 0;
  right: 0;

  width: 30px;
  height: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
