#timelineContainer {
  @include paddingSection;
  display: flex;
  flex-direction: column;
  #timelineContent {
    overflow-x: scroll;
    width: 100%;
    height: 410px;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-track:horizontal {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 20px;
      border: 1px solid transparent;
    }

    #timeline {
      position: relative;
      hr {
        position: absolute;
        top: 193px;
        width: 100%;
        border: 2px $bgColorSecondary solid;
        background-color: $bgColorSecondary;
      }
      .timelineItems {
        display: flex;
        list-style: none;
        width: 100%;
        height: auto;
        justify-content: center;
        .timelineItem {
          margin-right: 100px;
          display: flex;
          flex-direction: column;
          position: relative;
          a {
            font: $headLine2;
            color: $fontColorPrimary;
            display: block;
            text-align: center;
            text-decoration: none;
            cursor: pointer;

            &:hover ~ div {
              opacity: 1;
            }
          }
          div {
            padding: 0 10px 10px;
            border-bottom: 1px solid $bgColorSecondary;
            width: 200px;
            opacity: 0;
            transition: opacity 1s ease;
            position: absolute;
            font: $caption;
            .yearContent {
              padding-left: 15px;
              display: block;
              list-style: circle;
              li {
                margin: 0;
              }
            }
          }
          &:nth-child(2n-1) {
            margin: 197px 100px 0 0;
            a {
              &:hover {
                border-top: 3px solid $bgColorSecondary;
              }
            }
            div {
              top: 70px;
            }
          }

          &:nth-child(2n) {
            margin: 130px 100px 0 0;
            a {
              order: 2;
              &:hover {
                border-bottom: 3px solid $bgColorSecondary;
              }
            }
            div {
              order: 1;
              top: -120px;
              left: -20px;
            }
          }
        }
      }
    }
  }
  .buttonCotaniner {
    display: flex;
    justify-content: center;
    button {
      margin-right: 10px;
      border: 0;
      outline: none;
      background: $bgColorSecondary;
      color: $fontColorSecondary;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
