$fontBase: "Inter", sans-serif;
$white: #ffffff;
$black: #000000;
$bgColorPrimary: #fff6e6;
$bgColorSecondary: #000000;
$bgColorTertiary: #3e3e3e;
$bgColorQuaternary: #525252;
$bgColorQuinary: #1a1a1a;
$fontColorPrimary: $black;
$fontColorSecondary: $white;
$overlay: rgba(128, 128, 128, 0.529);
$headLine1: bold 8rem/9rem $fontBase;
$headLine2: bold 5rem/6rem $fontBase;
$headLine3: bold 3rem/4rem $fontBase;
$headLine4: bold 2.2rem/2.9rem $fontBase;
$headLine5: bold 1.9rem/3rem $fontBase;
$body1: normal 1.7rem/2rem $fontBase;
$body2: bold 1.7rem/2rem $fontBase;

$button: bold 1.5rem/2rem $fontBase;
$caption: normal 1.2rem/1.5rem $fontBase;

@mixin paddingSection {
  padding: 40px 20px;
}

@mixin paddingSection1 {
  padding: 20px 0;
}

@mixin paddingSection3 {
  padding: 40px 20px 0;
}
